.container-header {
    display: flex;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--color-black-text);
}

.logo-text {
    color: var(--color-logo);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
    & .current {
        color: var(--color-active-link);
    }
}

.nav-item {
    position: relative;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--color-nav-text);

    &:hover,
    &:focus {
        color: var(--color-active-link);
    }

    &::before,
    .current::before {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        background-color: var(--color-active-link);
        color: var(--color-active-link);
        left: 0;
        bottom: 0;
        transition: transform var(--animation-delay);
        transform: scale(0);
        transform-origin: left;
    }
}

.current::before {
    transform: scale(1);
}

.contacts.list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
}

.contacts-icon {
    margin-right: 10px;
    align-items: baseline;
    transition: fill var(--animation-delay);
    fill: var(--color-contact-text);

    .contacts-link:hover &,
    .contacts-link:focus & {
        fill: var(--color-active-link);
    }
}

.contacts-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--color-contact-text);

    &:hover,
    &:focus {
        color: var(--color-active-link);
    }
}
